<li class="ts-entry-question">
  <form action="#" class="ts-new_question">
    <div class="ts-textarea-container">
      <textarea class="ts-textarea" id="ts-question_text" placeholder="Teve alguma dúvida sobre o produto d'O Boticário? Pergunte aqui..." autocomplete="off"></textarea>
    </div>
    <div class="ts-button"><button id="ts-teste1" class="ts-btn ts-blue">Enviar pergunta!</button></div>
  </form>
</li><!--Close div.entry-question-->
